*{
    font-family: cursive;
}

.contenedor_flex1{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    border: solid 1px black;
}


.cabecera{
    height: 500px;
    background-image: url(../images/design1_image1.jpg);
    background-size: cover;
}

.cabecera h1{
    color: white;
    font-size: 3.5em;
    padding-left: 15px;

}

.cabecera2{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.logo{
    position: absolute;
    margin-top: -10%;
    margin-left: 20%;
}

.contenedor_izquierdo{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    float: left;
    width: 20%;
}

.contenedor_izquierdo li{
    list-style: none;
    padding-top: 5%;
    padding-right: 15%;
}

.contenedor_central{
    border: solid 1px black;
    float: left;
    width: 60%;
    padding-left: 20px;
    padding-top: 3%;
}
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; border-collapse: collapse
    }
    
td, th {
                border: 1px solid transparent;
                height: 30px;
    }
    
th {
     background: #D3D3D3;
     font-weight: bold;
     text-align: left;
    }
    
td {  
    background: #FAFAFA;   
    text-align: left;  
     }
    
tr:nth-child(even) td {
     background: #F1F1F1;   
    }  
    
tr:nth-child(odd) td {  
    background: #FEFEFE;  
    } 